<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/acceptrequest" method="POST">
<label for="id">Enter Request Id:</label>
<input type="text" name="requestid" id="text">

<label for="name">Enter Your Name:</label>
<input type="text" name="raccby" id="text">

<label for="date">Date:</label>
<input type="date" name="date" id="date">

<label for="bb">Nearest Blood Bank:</label>
<input type="text"name="bloodbank" >



<div class="btn">
    <button id="btn3" value="submit">Submit</button>
</div>
    </form>

</body>
</html>


<!-- const requestdataSchema={
    rname:String,
    rstate:String,
    rcity:String,
    rbg:String,
    rnumber:String,
    raccstatus:String,
    raccby:String,
    rappoinmentdate:String,
    rappoinmentbloodbank:String,
    rdonationstatus:String
    
} -->