<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>
</head>
<body>
  <a href="\adminupdate">
<button id="bt1">Update Stock</button>
</a>
<a href="\adminreqclear">
  <button id="bt-2"> Request Dashboard
  </button>
  </a>


</body>
</html>