<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
  


   <table class="table">
    <thead>
      <tr id="header">
        
        <th scope="col">name</th>
       
        <th scope="col">blood group</th>
        <th scope="col">city</th>
        <th scope="col">phone number</th>
      </tr>
    </thead>
    <tbody>
        <%bloodList.forEach(blooddata=>{%>
        <tr>        
            <td id="bbname"><%= blooddata.name %></td>
            
            <td><%=blooddata.bg %></td>
            <td><%=blooddata.city %></td>
            <td><%=blooddata.number %></td>
        </tr>
    <%})%>
    </tbody>
  </table>



</body>
</html>