<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="front" id="front">
        <div class="nav">
          <nav>
            <ul>
              <li>Home</li>
              <li>About</li>
              <li>Contact</li>
              <a href="/admin">
                <li>Admin Login</li>
              </a>
            </ul>
          </nav>
        </div>

        <div class="button_shift" id="button_shift">
          <a href="#ourservices"
            ><img src="/images/downarrow.png" alt="" width="100px"
          /></a>
        </div>
      </div>

      <!-- <div class="block"></div> -->
      <!-- <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> -->

      <!-- <div class="services" id="ser2"> -->
      <!-- <h1>Welcome to </h1> -->
      <!-- <h1>Rakt-Shodh </h1> -->
      <!-- </div> -->

      <div class="services2" id="ourservices">
        <h1 id="ourservicestext">Our Services</h1>
      </div>

      <div class="container2" data-aos="zoom-in" id="container2">
        <div class="card">
          <a href="/findbloodbank">
            <div class="box">
              <div class="content">
                <img
                  src="images\img-1.png"
                  alt=""
                  width="200px"
                  height="200px"
                />
                <!-- <button>Find Blood</button> -->
                <h4>Check Blood Availability</h4>
                <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, at. Voluptate omnis excepturi
                            illum
                            delectus iusto cumque tempora id error, quo dolor accusantium dolorum reprehenderit nihil!
                            Doloribus
                            tenetur consequuntur magnam.</p> -->
              </div>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="/request">
            <div class="box">
              <div class="content">
                <img
                  src="images\img-3.png"
                  alt=""
                  id="img3"
                  width="200px"
                  height="150px"
                />
                <h4>Request Blood</h4>
                <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, at. Voluptate omnis excepturi
                            illum
                            delectus iusto cumque tempora id error, quo dolor accusantium dolorum reprehenderit nihil!
                            Doloribus
                            tenetur consequuntur magnam.</p> -->
              </div>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="/bloodbankdir">
            <div class="box">
              <div class="content">
                <img
                  src="images\bloodbank.png"
                  alt=""
                  id="img3"
                  width="150px"
                  height="120px"
                />
                <!-- <h4 id="dd">Blood Bank </h4> -->
                <h4>Blood Bank</h4>
                <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, at. Voluptate omnis excepturi
                            illum
                            delectus iusto cumque tempora id error, quo dolor accusantium dolorum reprehenderit nihil!
                            Doloribus
                            tenetur consequuntur magnam.</p> -->
              </div>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="/camp">
            <div class="box">
              <div class="content">
                <img
                  src="images\img-2.png"
                  alt=""
                  width="200px"
                  height="200px"
                />
                <h4>Organise Blood Camp</h4>
                <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, at. Voluptate omnis excepturi
                            illum
                            delectus iusto cumque tempora id error, quo dolor accusantium dolorum reprehenderit nihil!
                            Doloribus
                            tenetur consequuntur magnam.</p> -->
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="table">
        <table>
          <tr id="header">
            <th>Blood Type</th>
            <th>Donate Blood To</th>
            <th>Receive Blood From</th>
            <!-- <th>Age</th>
                    <th>Mobile</th> -->
          </tr>

          <tr>
            <td>A+</td>
            <td>A+ AB+</td>
            <td>A+ A- O+ O-</td>
          </tr>

          <tr>
            <td>O+</td>
            <td>O+ A+ B+ AB+</td>
            <td>O+ O-</td>
            <!-- <td>21</td> -->
            <!-- <td>99999</td> -->
          </tr>

          <tr>
            <td>B+</td>
            <td>B+AB+</td>
            <td>B+ B- O+ O-</td>
            <!-- <td>21</td> -->
            <!-- <td>99999</td> -->
          </tr>

          <tr>
            <td>AB+</td>
            <td>AB+</td>
            <td>Everyone</td>
            <!-- <td>21</td> -->
            <!-- <td>99999</td> -->
          </tr>

          <tr>
            <td>A-</td>
            <td>A+ A- AB+ AB-</td>
            <td>A- O-</td>
            <!-- <td>21</td> -->
            <!-- <td>99999</td> -->
          </tr>

          <tr>
            <td>O-</td>
            <td>Eberyone</td>
            <td>O-</td>
            <!-- <td>21</td> -->
            <!-- <td>99999</td> -->
          </tr>
          <tr>
            <td>B-</td>
            <td>B+ B- AB+ AB-</td>
            <td>B- O-</td>
            <!-- <td>21</td> -->
            <!-- <td>99999</td> -->
          </tr>
          <tr>
            <td>AB-</td>
            <td>AB+ AB-</td>
            <td>AB- A- B- O-</td>
            <!-- <td>21</td> -->
            <!-- <td>99999</td> -->
          </tr>
        </table>
      </div>

      <div class="container3" id="container3">
        <h2 data-aos="zoom-out-up">Need Of Blood Donation</h2>
        <p data-aos="zoom-in-up">
          <li>Every year our nation requires about 5 Crore units of blood, out of which only a meager 2.5 Crore units of blood are available.
           <li>The gift of blood is the gift of life. There is no substitute for human blood.</li> 
           <li> Every two seconds someone needs blood.</li>
           <img src="public/images/index.jpg" id="indeximg" alt="">
        </p>
      </div>
      <div class="container4" id="container4">
        <h2 data-aos="zoom-out-up">TYPES OF DONATION</h2>
        <p data-aos="zoom-in-up">
          <li>
            What is it? Blood Collected straight from the donor after its
            donation usually separated into red blood cells, platelets, and
            plasma.
          </li>
          <li>
            Who can donate? You need to be 18-65 years old, weigh 45kg or more
            and be fit and healthy.
          </li>

          <li>
            User For? Stomach disease, kidney disease, childbirth, operations,
            blood loss, trauma, cancer, blood diseases, haemophilia, anemia,
            heart disease.
          </li>
          <li>Lasts For? Red cells can be stored for 42 days.</li>

          <li>How long does it take? 15 minutes to donate.</li>

          <li>How often can I donate? Every 12 weeks</li>
        </p>
      </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        // offset: 1000,
        duration: 400,
      });
    </script>
  </body>
</html>
