

.heading{
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}





#searchform{

    display: grid ;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* border: solid black; */
    height: 200px;


}



label{
    /* height: 50px; */
    /* text-align: center; */
    justify-content: center;
    text-align: center;
    /* display: inline-flex; */
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}

select{
    
    height: 50px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

select:focus
{
    text-align: left;
}



form{
    display: grid;
}

#state , #city , #bloodgroup{
    margin-bottom: 3rem;
}

/* 
input {
    font-size: 25px;
    height: 40px;
    border-bottom:2px solid red;
    outline: 0;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    background: transparent;
    transition: border-color 0.2s;

} */

input {
    font-size: 25px;
    height: 40px;
    border-radius: 10px;

}

#btn{
    margin: auto;
    height: 70px;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;

;

}


.btn{
 
    display: flex;
    justify-self: center;
    align-items: center;
    height: 10vh;
    /* border: 2px solid red; */
}

.text{
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#t1{
    justify-content: center;
    text-align: center;
    /* display: inline-flex; */
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
     height: 40px;
}

#btn3{
    margin-top: 8rem;
    margin: auto;
    height: 70px;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}


#text
{
    text-align: center;
}


#venue
{
    text-align: center;
}

/* 
#phone
{
    text-align: center;
} */