body{
    background-color: antiquewhite;
}
#heading{
    color: red;
    position: relative;
    left: 22rem;
}

#fourth{
    width: 30rem;
    height: 3.5rem;
}
#fifth{
    width: 30rem;
    height: 3.5rem;
}
#home{
    display: flex;
    flex-direction: row;
  
    
}
#home a{
    background-color: rgb(250, 178, 178);
    height: 10rem;
    width: 15rem;
    margin: auto;
    border-radius: 1rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;

}
