* {
    margin: 0;
    padding: 0;

}

.container {
    overflow-x: hidden;
    /* background-color:#00183e; */
    /* background-image: linear-gradient(to right, black, #00183e 50%); */
    /* height: 50vh; */

}
#tabbleheading{
    padding-left: 514px;
    color: orangered;
    font-size: 40px;
    padding-top: 40px;
}

.nav {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 20px; */
    height: 10vh;
    width: 100%;
    /* border: 2px solid black; */
}
.nav a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 20px; */
    /* color: aliceblue; */
    height: 10vh;
    width: 100%;
    /* border: 2px rgb(255, 255, 255) solid; */
    list-style: none;
    text-decoration: none;
}
nav {
    /* color: aliceblue; */
    flex: 1;
    padding-left: 50px;

}

nav ul{
    display: flex;
}

.adm{
    margin-left: 70vw;
    justify-content: flex-end;
}

.adm li{
    /* padding: 10px; */
    font-size: 20px;
    /* border: 1px red solid; */
}

nav ul li {
    color:white;
    margin: 30px;
    display: inline-block;
    transition: 0.3s;
}
nav ul li a{
    list-style: none;
}

nav ul li:hover {
    color: red;
    transform: scale(1.20);
    cursor: pointer;
}

.front {
    /* text-align: center; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* display:flex; */
    /* border: greenyellow 5px solid; */
    /* display: inline-block; */
    height: 100vh;
    width: 100vw;
    background-image: url("bg-2.png");
    background-size: cover;
    /* background-image: url("images\bg-2.png"); */
    /* border: 2px solid grey; */
    /* border-image: fill; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center ;
    /* background-attachment:scroll; */
    /* box-sizing: border-box; */
    /* position: relative; */
}


.front h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 10%;
}

@media (max-width: 500px) {

    #front{
        background-image: url("mobileview.png");
    }

    #ourservices{
        /* position: absolute; */
        
        bottom: 10px;
        left: 17vw;
        font-size:6vw ;

    }

    #ourservicestext{
        padding-top: 0;
        margin-top: 0;
    }
    #button_shift{
        /* position: relative; */
        /* top: 60vh;
        left: 22vw;
        width: 5rem; */
        display: none;
    }

    #container2{
        display: block;
    }

    #container3{
        margin-top: 20%;
        height: 100vh;
    }
    


    /* #imagge{ */
        /* margin-left: 40vw; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */

    /* } */

    #immmg{
        margin-left: 40vw;
        width:90vw;
    }


    #navv{
        display: inline-flex;
        width: 100px;
    }

    
}


.button_shift{

    /* border: 2px red solid; */
    /* display: flex; */
    /* margin: bottom; */
    /* width: 100px; */
    position: relative;
    top: 60vh;
    left: 22vw;
    
}

.button_shift button{
    height: 100px;
    width: 200px;
}


.container2 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80vw;
    height: 50vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 50px;

    /* margin-left: 10vw; */
    margin:auto;
    flex-wrap: wrap;
    /* padding: 40px 0; */

    /* border: 2px red solid; */
    text-decoration: none;

    margin-bottom: 100px;

}

.container2 .card {
    flex: 1;
    position: relative;
    width: 300px;
    height: 350px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(255, 255, 255, 0.5);

    border-radius: 15px;
    /* margin: 30px; */
}


.container2 .card .box {
    /* position: absolute; */
    width: 250px;
    height: 300px;
    /* top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px; */
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    /* border: 2px blue solid ; */

    margin-top: 30px;
    margin-left: 30px;
}

.container2 .card .box .content {
    /* padding: 20px; */
    text-align: center;

}

.container2 .card .box .content h4 {
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    /* padding: 20px; */
    text-align: center;
    /* box-shadow: 0 0 5px; */
    border-radius: 20px;
    

}



.container2 .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    /* background: linear-gradient(45deg, #b95ce4, #4f29cd); */
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    /* background: linear-gradient(45deg, #e45c5c, #ffffff); */
    /* background: linear-gradient(45deg, rgb(241, 101, 101), #ffffff); */
    /* background-image: linear-gradient(to top, #ff0000, #ff5344, #ff7f76, #ffa8a4, #ffcece); */
}

.container2 .card:hover .content {

    color: #ebf5fc;
}




.box {
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    width: 30%;
    box-sizing: border-box;
}

#img3 {
    padding-bottom: 20px;
}

a{
    text-decoration: none;
}



.services2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* bottom: 10px; */
    /* left: 37vw; */
    font-size: 30px;
    /* background-color: #4f29cd; */
    /* -webkit-background-clip: text; */
    margin-top: 15vh;

    
}

.services2 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-top: 50px;
    margin-bottom:50px;

}

.services2:hover {
    /* transform: scale(1.5); */
    /* transform: translateX(30px); */
}

.container3 {
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* display: flex; */
    /* border: 2px red solid; */
    margin-top: 10%;
    border-radius: 20px;
    margin-bottom: 10%;
    }


.container3 h2 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.twoblocks{
    display: flex;
    /* border: 5px solid red ; */
}

.block2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#indeximg{
    margin-top: 50px;
    height: 20vh;
}


.container3 ul{
    /* display: flex; */
    margin-left: 20px;
    margin-top: 30px;
}

.container3 li {
   /* flex: 2; */
    width: 50vw;
    padding: 20px;
    font-size: 30px;
    padding-top: 20px;
    text-align: left;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
  
}


.container4 {
    /* margin-top: 10%; */
    font-size: 20px;
    height: 80vh;
    text-align: center;
    margin: auto;
    width:100%;
    border-radius: 20px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;

    /* border: 2px red solid; */
}


.container4 h2 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    align-items: center;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}



.container4 li {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    padding-top: 20px;
    /* text-align: left; */
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    
  
}

.container4 ul{
    text-align: center;
}



#about{
    background-color: #1c1c1d;
    font-size: 30px;
    /* height: 40vh; */
    font-family: cursive;
    text-align: center;
    
color:white ;
    
}
#icon{
    color: red;
}

#abouth{

    background: linear-gradient(to right, #6b3535, #c05b09);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    align-items: center;

}
#about li{
    list-style: none;
    
}
















/* .container4 {
    /* margin-top: 10%; */
    /* font-size: 20px;
    height: 60vh;
    background-color: #aaf321f3;
    text-align: center;
    color: white;
}
.container4 h2 {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    padding-top: 10px;
    color: rgb(194, 12, 12);
    align-items: center;
}



.container4 li {
    padding: 10px;
    font-size: 20px;
    padding-top: 20px;
    text-align: left;
    font-weight: bolder;
    color:rgb(24, 21, 21);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    
} */ 

/* .resize .infopara{
    margin:10px;
    display: inline-block;
}
#mydiv1,#mydiv2,#mydiv3{
    height: 350px;
    width: 350px;
    display: inline-block;

} */



.table {

    display: flex;
    /* background-color: #ff0000; */
    height: 500px;
    /* position: relative; */
    /* align-items: center; */
}

table {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    /* margin-top: 5%; */
    font-size: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: 200px; */
    /* position: absolute; */
    /* left: 50%; */
    /* top: 270%; */
    /* bottom: 200%; */
    /* transform: translate(-50%, -50%); */
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0);


}

tr {
    /* text-align: center; */
    transition: all 0.1s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#header {
    background: linear-gradient(to right, rgba(247, 3, 3, 0.616), rgb(255, 255, 255));
    color: black;
}


tr:hover {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5), -1px -1px 8px rgba(0, 0, 0, 0);

}



.tbhead{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.tbhead h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #00F1FF, #3E7CEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;

}

#raktshodh{
    position:relative;
    font-size: 50px;
    color: black;
}


.imagge{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    /* transition: 0.5s; */
    
    /* border: 2px red solid; */
}

.imagge:hover{
        transition: 0.5s;
}





.counting{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* position: absolute;
    top: 70vh;
    left: 0; */

    position:relative;
    left: 25vw;
    top: 50px;

    padding-bottom: 50px;

    /* margin-top: 30vh ; */
    /* border: 2px red solid; */
    height: 20vh;
    width: 50vw;

}

.dabbe{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */

    /* position:relative;
    left: 30px;
    top: 150px; */

    /* margin-top: -10em; */
}

.dabbe img{
    /* margin-bottom: -30px; */
    /* margin-left: 100px; */
    height: 55px;

    /* border: 2px gold solid ; */
}

.dabbe h1
{
    /* background: linear-gradient(to right,  #ff0000 , #ff7700 ); */
    /* background: linear-gradient(to right, rgba(247, 3, 3, 1), rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */

    color: rgba(247, 3, 3, 0.9);
}

.dabba{
    /* text-align: center; */
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    /* background-color: #00F1FF; */
    /* height: 200px; */
    /* width: 200px; */
    /* border: 2px solid green; */
}

/* .contain span{
    position: absolute;
    top: 60px;
    left: 150px;
    font-size: 50px;

} */


.countone{
    text-align: center;
    /* background-color: #3E7CEE; */
    margin-right: 5em;
    width: 10em;
}


.counttwo{
    text-align: center;
    /* background-color: #ffe600; */
    margin-left: 5em;
    width: 10em;
}

.countthree
{
    text-align: center;
    /* background-color: #ffe600; */
    margin-left: 10em;
    width: 10em;

}
.container3{
    width: 100%;
}

  /* CHANGES MADE TO CONTAINER 3 AND CONTAINER 4 TO MAKE IT MORE RESPONSIVE */

                      /* ***********************START *****************************/
#twoblocks{
    
    display: flex;
    flex-direction: row;
}

@media(max-width:768px){
    
    .block1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #twoblocks{
        flex-direction: column;
        
    }
    .twoblocks .block1 li{
        
        font-size: 1.35rem;
    }
    #indeximg{
        width: 100%;
        height: auto;
    }

    .container4 li{
        font-size: 1.35rem;
    }
}

.mynavbar{
    font-size: larger;

}

.mynavbar a{
    text-decoration: none;
    color: white;
}

                  /* *********************** END *****************************/






/* <!-- ######################################  IMAGE SLIDER CSS ############################################## --> */

.slider-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px red solid; */
}

.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #1D212B;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px)
  {
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }

  }




#slider-pic-1
{
    height: 500px;
}
#slider-pic-2
{
    height: 500px;
}
#slider-pic-3
{
    height: 500px;
}
#slider-pic-4
{
    height: 500px;
}
#slider-pic-5
{
    height: 500px;
}


